
<input #filterNr placeholder="Suche..." id="meineId" (input)="filtern()">

<br>
<br>

<ngx-pagination-controls pagination-controls></ngx-pagination-controls>

   <table>
        <thead>
          <tr>
            <th>Rechnungsnummer</th>
            <th>Kunde</th>
            <th>Anschrift Kunde</th>
            <th>Anbieter</th>
            <th>Erstellt am</th>
            <th>Zahlungsziel</th>
            <th>Anzahlung</th>
            <th>Kombiticket</th>
            <th>Personenanzahl</th>
            <th>Restzahlung</th>
            <th>EK</th>
            <th>Gewinn</th>
            <th>MwSt</th>
            <th>Netto Gewinn</th>
            <th>Ticketart</th>
            <th>Erledigt</th>
            <th>PDF</th>
          </tr>
        </thead>
      <tr *ngFor="let i of listeMitFilter | paginate: { itemsPerPage: 10, currentPage: p }">
        <td><input [(ngModel)]="i.rechnungsnummer" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.kunde" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.anschriftKunde" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.anbieter" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.erstelltAm" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.zahlungsziel" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.anzahlung" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.kombiticket" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.personenAnzahl" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.restzahlung" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.ek" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.gewinn" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.mwst" (ngModelChange)="bearbeite(i)"></td>
        <td><input [(ngModel)]="i.nettoGewinn" (ngModelChange)="bearbeite(i)"></td>
        <td>
          <mat-form-field>
            <mat-select [(ngModel)]="i.ticketArt" name="ticketArt" (ngModelChange)="bearbeite(i)">
              <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption.value">
                {{statusOption.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      <td style=" cursor:pointer;text-align: center" (click)="erledigt(i)"> 
        <mat-checkbox [(ngModel)]="i.erledigt" (click)="erledigt(i)">
          <label>Erledigt</label>
        </mat-checkbox>
      </td>

    <td style="cursor:pointer;text-align: center" (click)="pdf(i)" >
          <mat-icon style="font-size: 36px" (click)="pdf(i)">picture_as_pdf</mat-icon>
        </td>
       
    </tr>
  </table>
  <br>
  <i>Seite {{p}} von {{pageCount}}</i>
  <br>
  <br>
  <button mat-raised-button id="right"  (click)="nextPage()" *ngIf="p>10" >Weiter</button>
  <button mat-raised-button id="left" (click)="previousPage()" *ngIf="p>1">Zurück</button>
  
  <br>
  <br>
