
<input #filterNr placeholder="Suche..." id="meineId" (input)="filtern()">

<br>
<br>

<ngx-pagination-controls pagination-controls></ngx-pagination-controls>
<table>
    <thead>
    <tr>
      <th>Nachname</th>
      <th>Zahlungsziel</th>
      <th>Rechnungsnummer</th>
      <th>Reisetermin</th>
      <th>Rechnungsdatum</th>
      <th>Reiseziel</th>
      <th>Personenzahl</th>
      <th>Gesamt</th>
      <th>Rest</th>
    </tr>
  </thead>

    <tr *ngFor="let i of listeMitFilter | paginate: { itemsPerPage: 10, currentPage: p }">
      <td><input [ngModel]="i.ID"  ></td>
      <td><input [ngModel]="i.kunde" ></td>

    </tr>

  </table>
  <br>
  <i>Seite {{p}}</i>
  <button mat-raised-button id="right"  (click)="nextPage()">Weiter</button>
  <button mat-raised-button id="left" (click)="previousPage()">Zurück</button>
  
  <br>
  <br>

  <button mat-raised-button (click)="setRechnungen()">Set Rechnungen</button>