<input id="meineId" #datumF (input)="filterDatum()" placeholder="Bitte wählen Sie ein Datum aus" type="text">

<br>
<br>
<table>
  <thead>
  <tr>
    <th>Tag</th>
    <th>Aktion</th>
    <th>Personen</th>
    <th>Max</th>
    <th>Rest</th>
    <th>Web</th>
    <th>JS</th>
    <th>MD</th>
    <th>Vermerk</th>
  </tr>
</thead>
  <tr *ngFor="let i of listeAnzeige">
    <td><input [ngModel]="i.tag" ></td>
    <td><input [ngModel]="i.nameAktion" ></td>
    <td><input [ngModel]="i.personen" ></td>
    <td><input [ngModel]="i.Max" ></td>
    <td><input [ngModel]="i.Rest" ></td>
    <td><input [ngModel]="i.Web" ></td>
    <td><input [ngModel]="i.JS" ></td>
    <td><input [ngModel]="i.MD" ></td>
    <td><input [ngModel]="i.Vermerk" ></td>
  </tr>
</table>
<button mat-raised-button (click)="setListe()">Set List</button>