<input id="meineId" #datumF (input)="filterDatum()" placeholder="Suche..." type="text">

<br>
<br>
<ngx-pagination-controls pagination-controls></ngx-pagination-controls>

<table>
  <thead>
  <tr>
    <th>Tag</th>
    <th>Aktion</th>
    <th>Personen</th>
    <th>Max</th>
    <th>Rest</th>
    <th>Web</th>
    <th>JS</th>
    <th>MD</th>
    <th>Vermerk</th>
  </tr>
</thead>
  <tr *ngFor="let i of listeAnzeige | paginate: { itemsPerPage: 10, currentPage: p }">
    <td><input [ngModel]="i.tag" ></td>
    <td><input [ngModel]="i.nameAktion" ></td>
    <td><input [ngModel]="i.personen" ></td>
    <td><input [ngModel]="i.Max" ></td>
    <td><input [ngModel]="i.Rest" ></td>
    <td><input [ngModel]="i.Web" ></td>
    <td><input [ngModel]="i.JS" ></td>
    <td><input [ngModel]="i.MD" ></td>
    <td><input [ngModel]="i.Vermerk" ></td>
  </tr>
</table>
<br>
<i>Seite {{p}}</i>
<button mat-raised-button id="right"  (click)="nextPage()">Weiter</button>
<button mat-raised-button id="left" (click)="previousPage()">Zurück</button>

<br>
<br>
<button mat-raised-button (click)="setListe()">Set List</button>