<mat-tab-group animationDuration="0ms">
    <mat-tab label="Buchung hinzufügen"> <a routerLink="/neueBuchung"> hinzufügen </a></mat-tab>
    <mat-tab label="Buchungsübersicht"> Buchungsübersicht </mat-tab>
    <mat-tab label="Buchung bearbeiten"> Buchung bearbeiten </mat-tab>
    <mat-tab label="Buchung stornieren"> Buchung stornieren </mat-tab>
    <mat-tab label="Buchung suchen"> Buchung suchen </mat-tab>
</mat-tab-group>
<a routerLink="/neueBuchung">link to user component</a>
<!--  {path: "neueBuchung", component: NeueBuchungComponent},// Slashes setzt der automatisch
{path: "finden", component: BuchungfindenComponent},
{path: "uebersicht", component: BuchungsuebersichtComponent},
{path: "finden", component: BuchungfindenComponent},
{path: "stornieren", component: BuchungStornierenComponent},
{path: "", component: StartseiteComponent}, -->


