<nav mat-tab-nav-bar >
    <img  width="130px" height="70px" src="/assets/logo.svg" (click)="weiterleiten()" id="thorsten">
    <a mat-tab-link routerLink="/neueBuchung" routerLinkActive="active-link">Buchung hinzufügen</a>
    <a mat-tab-link routerLink="/uebersicht" routerLinkActive="active-link">Kundenanfrage</a>
    <a mat-tab-link routerLink="/rg" routerLinkActive="active-link">Rechnungsübersicht</a>
    <a mat-tab-link routerLink="/kalk" routerLinkActive="active-link">Kalkulation</a>
    
    <a mat-tab-link routerLink="/daten" routerLinkActive="active-link">Datenbankübersicht</a>
</nav>
