<nav mat-tab-nav-bar >
    <img  width="130px" height="70px" src="/assets/logo.svg" (click)="weiterleiten()" id="thorsten">
    <a mat-tab-link routerLink="/neueBuchung" routerLinkActive="active-link">Buchung hinzufügen</a>
    <a mat-tab-link routerLink="/uebersicht" routerLinkActive="active-link">Buchungsübersicht</a>
    <a mat-tab-link routerLink="/bearbeiten" routerLinkActive="active-link">Buchung bearbeiten</a>
    <a mat-tab-link routerLink="/stornieren" routerLinkActive="active-link">Buchung stornieren</a>
    <a mat-tab-link routerLink="/finden" routerLinkActive="active-link">Buchung suchen</a>
</nav>
