

<div id="joerg" style="width: 100%; min-height: 80vh">
<h1 style="color: rgb(128,20,28); -webkit-text-stroke: 2px black; text-align: center; zoom: 77%; font-family: 'Copperplate';"> <i>Willkommen beim Buchungshelfer</i></h1>

<table style="width: 100%; min-height: 80vh" >
    <tr>
         
        <td colspan="4">  </td>
</tr>
    <tr>
        <td style="visibility: hidden;">Placeholder</td>
        <td class="gustavo" (click)="weiterleiten('neueBuchung')">

        <img src="/assets/buchen.svg" alt="" >
           Neue Buchung
        </td>
        <td class="gustavo" (click)="weiterleiten('rg')">
            <img src="/assets/buchen.svg" alt="">    
            Rechnungsübersicht
        </td>
        <td style="visibility: hidden;">Gustav</td>
</tr>
    <tr> 
        <td style="visibility: hidden;">gustav</td>
        <td class="gustavo" (click)="weiterleiten('uebersicht')">
            <img src="/assets/buchen.svg" alt="">    
            Buchungsübersicht
        </td>
        <td class="gustavo" (click)="weiterleiten('daten')">
            <img src="/assets/buchen.svg" alt="">    
            DB
        </td>
        <td style="visibility: hidden;">Gustav</td>
    
</tr>
  </table>
</div>

<!-- 
<h1>Willkommen in der Buchungsübersicht</h1>
<h2>Bitte wählen Sie eine Aktion aus</h2>
<h3>Neue Buchung</h3>
<button (click)="weiterleiten('neueBuchung')">Buchung hinzufügen</button>
<h3>Buchungen anzeigen</h3>
<button (click)="weiterleiten('uebersicht')">Buchungsübersicht</button>
<h3>Buchungen bearbeiten</h3>
<button (click)="weiterleiten('bearbeiten')">Buchung bearbeiten</button>
<button (click)="weiterleiten('stornieren')">Buchung stornieren</button>
<h3>Buchungen finden</h3>
<button (click)="weiterleiten('finden')">Buchung suchen</button>
-->

<!--  {path: "neueBuchung", component: NeueBuchungComponent},// Slashes setzt der automatisch
{path: "finden", component: BuchungfindenComponent},
{path: "uebersicht", component: BuchungsuebersichtComponent},
{path: "finden", component: BuchungfindenComponent},
{path: "stornieren", component: BuchungStornierenComponent},
{path: "", component: StartseiteComponent}, -->
