<div class="sample-split">
  <igx-buttongroup>
  </igx-buttongroup>
  <igx-buttongroup >
  </igx-buttongroup>
</div>

<igx-stepper #stepper >
  <igx-step>
      <span igxStepTitle>Kontaktdaten</span>
      <div igxStepContent>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Herr</mat-radio-button>
            <mat-radio-button value="2">Frau</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
          <div class="sample-step-actions">   
             <mat-form-field appearance="fill">
                <mat-label>Vorname</mat-label>
                <input matInput placeholder="Vorname" formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field appearance="fill" id="name">
                <mat-label>Nachname</mat-label>
                <input matInput placeholder="Nachname" formControlName="firstCtrl" required>
              </mat-form-field> 
              <br>
              <mat-form-field appearance="fill" style= "width: 25%;">
                <mat-label>Straße</mat-label>
                <input matInput placeholder="Straße" formControlName="firstCtrl" required>
              </mat-form-field> 
              <mat-form-field appearance="fill" style= "width: 6%;">
                <mat-label>Nr.</mat-label>
                <input matInput placeholder="Nr." formControlName="firstCtrl" required>
              </mat-form-field> 
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Postleitzahl</mat-label>
                <input matInput placeholder="Postleitzahl" formControlName="firstCtrl" required>
              </mat-form-field> 
              <mat-form-field appearance="fill">
                <mat-label>Ort</mat-label>
                <input matInput placeholder="Ort" formControlName="firstCtrl" required>
              </mat-form-field> 
              <br>
              <mat-form-field appearance="fill" style= "width: 25%;">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" formControlName="firstCtrl" required >
              </mat-form-field> 
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Telefon</mat-label>
                <input matInput placeholder="Telefon" formControlName="firstCtrl" required>
              </mat-form-field> 
              <br>
              <button igxButton="raised" (click)="stepper.next()">NEXT</button>
          </div>
      </div>
  </igx-step>




  <igx-step>
      <span igxStepTitle>Ticketauswahl</span>
      <div igxStepContent>
          <div class="sample-step-actions">  
            <mat-form-field appearance="fill" style="width: 35%;">
                
                <mat-label>Ticketauswahl</mat-label>
                <mat-select [formControl]="pokemonControl">
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name"
                                [disabled]="group.disabled">
                    <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                      {{pokemon.viewValue}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select> 
                
                </mat-form-field>
            <br>
           
         
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Datum</mat-label>
                <input matInput type="date">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Uhrzeit</mat-label>
                <input matInput type="time">
              </mat-form-field>
              <br>

            <mat-form-field appearance="fill">
            <mat-label>Ticketart</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                     {{food.viewValue}}
                 </mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" style="width: 10%;">
                <mat-label>Personenanzahl</mat-label>
                <input matInput type="number" minlength="1" maxlength="32">
              </mat-form-field>

            <br>
            <mat-form-field appearance="fill">
                <mat-label>Zahlungsart</mat-label>
                <mat-select>
                    <mat-option *ngFor="let zahlung of zahlungen" [value]="zahlung.value">
                         {{zahlung.viewValue}}
                     </mat-option>
                </mat-select>
                </mat-form-field>
                <br>
          
              <button igxButton="raised" (click)="stepper.prev()">PREVIOUS</button>
              <button igxButton="raised" (click)="stepper.next()">NEXT</button>
          </div>
         
      </div>
    
  </igx-step>
  <igx-step>
    <span igxStepTitle>Übersicht</span>
    <div igxStepContent>
        <div class="sample-step-actions">
          <h1>Migjomatic</h1>
            <button  igxButton="raised" (click)="stepper.prev()">PREVIOUS</button>
            <button igxButton="raised" (click)="stepper.reset()">RESET</button>
        </div>
    </div>
</igx-step>

</igx-stepper>