.container {
    display: flex;
    justify-content: space-between;
  }
  
  .left {
    margin-right: auto;
  }
  
  .center {
    margin: 0 auto;
  }
  
  .right {
    margin-left: auto;
  }
  

table {
  width: 100%;
 border: none;
  zoom: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 20px;
  

}

tr:nth-child(even) {
  background-color: #f9f9f9;
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  
}
input  {
  font-size: 18px;
  width: 100%;
  height: 50px;
  border:none
}

input:focus{
  color: rgb(160, 5, 5);
}


#meineId {
  font-size: 15px;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(105, 27, 27);
  background-image: url('/assets/searchicon.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  
}
#left{
  float: right;
  margin-left: 10px;
}
#right{
  float: right;
  margin-left: 10px;
}
