<div class="container">
    <button mat-raised-button class="left" (click)="bucher=false;leistung= true;">Leistungen</button>
    <button mat-raised-button class="center" (click)="bucher=true;leistung= false;">Bucher</button>
    <button mat-raised-button class="right">Noch nicht realisiert :)</button>
  </div>
<div *ngIf="bucher">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Bucher</th>
        <th>Provision</th>
        <th>MwSt auf Provision</th> 
      </tr>
    </thead>
  <tr *ngFor="let i of listeBucher">
    <td><input [ngModel]="i.ID" ></td>
    <td><input [ngModel]="i.Bucher" ></td>
    <td><input [ngModel]="i.Provision" ></td>
    <td><input [ngModel]="i.MwSt_auf_Provision" ></td>
  </tr>
</table>
</div>

<div *ngIf="leistung">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Leistung</th>
            <th>Leistungsinhalt</th>
            <th>ID Leistungsträger</th>
            <th>Uhrzeit 1 Hin</th>
            <th>Uhrzeit 1 Rück</th>
            <th>Uhrzeit 2 Hin</th>
            <th>Uhrzeit 2 Rück</th>
            <th>Preis</th>
            <th>Versteuerung</th>
            <th>EK-Preis</th>
         
          </tr>
        </thead>
      <tr *ngFor="let i of listeLeistungen">
        <td><input [ngModel]="i.ID" ></td>
        <td><input [ngModel]="i.Leistung" ></td>
        <td><input [ngModel]="i.Leistungsinhalt" ></td>
        <td><input [ngModel]="i.ID_Leistungstraeger" ></td>
        <td><input [ngModel]="i.Uhrzeit_1_Hin" ></td>
        <td><input [ngModel]="i.Uhrzeit_1_Rueck" ></td>
        <td><input [ngModel]="i.Uhrzeit_2_Hin" ></td>
        <td><input [ngModel]="i.Uhrzeit_2_Rueck" ></td>
        <td><input [ngModel]="i.Preis" ></td>
        <td><input [ngModel]="i.Versteuerung" ></td>
        <td><input [ngModel]="i.EK_Preis" ></td>
    
    </tr>
  </table>

</div>